body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
}
#bottom-btn-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90%;
}
#header-left{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
#header-right{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
#top-header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
}
.posts-btn{
    color: black;
    background-color: yellow;
    margin-right: 8px;
    margin-left: 8px;
}
.sign-btn{
    color: white;
    background-color: blue;
    margin-right: 10px;
    margin-left: 10px;
}
#main-heading{
    color: blue;
    font-family: 'Montez', cursive;
    font-size: 40px;
}
#heading-subtext{
    font-family: 'Ubuntu Mono', monospace;
    font-size: 15px;
}
#form-submit-button{
    background-color: #16c79a;
    color: white;
    margin: 5%;
}
#recipient-name {
    background-color: #edeef7;
}
#recipient-username {
    background-color: #edeef7;
}
#recipient-password {
    background-color: #edeef7;
}
#recipient-confirm-password {
    background-color: #edeef7;
}
#post-message-text{
    background-color: #edeef7;
}
#recipient-post-title{
    background-color: #edeef7;
}
#not-member-label-div {
text-align: end;
margin-bottom: 5%;
margin-right: 0;
padding-right: 0;
border-right: 0;
font-weight: bolder;
}
#signup-label-div {
    text-align: left;
    margin-bottom: 5%;
    margin-left: 5px;
    padding-left: 0;
    border-left: 0;
    font-weight: bolder;
    color: blue;
}