body{
    background-color: #ffeedd;
}
#header-left{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
#header-right{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
#top-header-container{
    background-color: #ffeedd;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    padding-bottom: 2%;
}
.sign-btn{
    color: white;
    background-color: blue;
    margin-right: 10px;
    margin-left: 10px;
}
#main-heading{
    color: blue;
    font-family: 'Montez', cursive;
    font-size: 40px;
}
#heading-subtext{
    font-family: 'Ubuntu Mono', monospace;
    font-size: 15px;
}
.card-text{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
}

.card-body {
    background-color: #edeef7;
    font-size: 10px;
}
#postlist-main-body-container{
    background-color: #ffeedd;;
}
.card-author{
    font-size: 10px;
    margin-top: 30%;
    margin-left: 5%;
    margin-right: 5%;
}
.card-title{
    overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-size: 10px;
}
 #card-outer-container{
    border-radius: 20px;
}
#card-outer-container:hover{
    border-radius: 20px;
    box-shadow: 2px 2px pink;
}
#form-submit-button{
    background-color: #16c79a;
    color: white;
    margin: 5%;
}
#not-member-label-div {
    text-align: end;
    margin-bottom: 5%;
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
    font-weight: bolder;
    }
    #signup-label-div {
        text-align: left;
        margin-bottom: 5%;
        margin-left: 5px;
        padding-left: 0;
        border-left: 0;
        font-weight: bolder;
        color: blue;
    }
    #card-title-inline{
        display: inline;
    }


    .popup_box{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
      }
      .popup_box{
        width: 350px;
        background: #f2f2f2;
        text-align: center;
        align-items: center;
        padding: 40px;
        border: 1px solid #b3b3b3;
        box-shadow: 0px 5px 10px rgba(0,0,0,.2);
        z-index: 9999;
        display: none;
      }
      .popup_box label{
        font-weight: bold;
        font-size: 12px;
        color: black;
      }
      .popup_box .btns{
        margin: 40px 0 0 0;
      }
      .btns .btn1, .btns .btn2{
        background: #999999;
        color: white;
        font-size: 12px;
        border-radius: 0px;
        border: 1px solid #808080;
        padding: 3px 16px;
      }
      .btns .btn2{
        margin-left: 40px;
        background: #ff3333;
        border: 1px solid #cc0000;
      }
      .btns .btn1{
        margin-right: 40px;
        background: green;
        border: 1px solid green;
      }
      i{
          cursor: pointer;
      }
      .fa-trash{
        position: absolute;
        top:10px;
        right: 10px;
      }
